@import "tailwindcss";

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial;

  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.6s ease-out;
}
